<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookstore">
  <select id="selectByNo" resultType="bookstoreVO">
    select * from bookstore where bs_no = 1
  </select> 
</mapper>