<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">

	<!-- 홈화면  -->
	<select id="getStaffRecommend" resultType="bookVO">
		select b_no, b_title, b_writer, b_image from book where b_no between 1 and 12
	</select>
	
	<select id="getNewRecommend" resultType="bookVO">
		select rownum, b_no, b_title, b_writer, b_image from (select b_no, b_title, b_writer, b_image from book order by b_year) <![CDATA[where rownum <= 12]]>
	</select>
	
	<select id="getHomePost" resultType="postVO">
		select rownum, p_id, p_no, p_title from (select p_id, p_no, p_title from post where p_no like #{group}||'%') <![CDATA[where rownum <= 3]]>
	</select>
	 
	<!-- 게시판 게시글 가져오기 -->
	<select id="getListPost" resultType="postVO">
		select * from post where p_no like #{group}||'%'
	</select>
	
	<!-- 페이징 처리를 위해 총 게시물 갯수 구해오기 -->
	<select id="getTotalCount" resultType="Integer">
		select count(*) from post where p_no like #{group}||'%'
	</select>
	
	<!-- 관리자 페이지에서 수정할 때 사용(회원관리) -->
	<update id="update-cust">
		update customer set cust_no = #{cust_no}, manager = #{manager} where cust_no = #{cust_no}
	</update>
	
	<!-- 관리자 페이지에서 수정할 때 사용(도서관리) -->
	<update id="update-book">
		update book set b_no = #{b_no}, b_title=#{b_title}, b_count = #{b_count}, c_no = #{c_no} where b_no = #{b_no}
	</update>
	
	<!-- 관리자 페이지에서 수정할 때 사용(게시글관리) -->
	<update id="update-post">
		update post set p_id = #{p_id}, p_no = #{p_no}, cust_no = #{cust_no} where p_id = #{p_id}
	</update>
	
	<!-- 관리자 페이지에서 수정할 때 사용(대여정보관리) -->
	<update id="update-borrow">
		update borrow set bor_no = #{bor_no}, bor_date = #{bor_date}, return_date = #{return_date}, return_ok = #{return_ok}, cust_no = #{cust_no}, b_no = #{b_no} where bor_no = #{bor_no}
	</update>
	
	<!-- 관리자 페이지에서 삭제할 때 사용(회원관리) -->
	<delete id="delete-cust">
		delete from customer where cust_no = #{pk}
	</delete>
	
	<!-- 관리자 페이지에서 삭제할 때 사용(도서관리) -->
	<delete id="delete-book">
		delete from book where b_no = #{pk}
	</delete>
	
	<!-- 관리자 페이지에서 삭제할 때 사용(게시글관리) -->
	<delete id="delete-post">
		delete from post where p_id = #{pk}
	</delete>
	
	<!-- 관리자 페이지에서 삭제할 때 사용(대여정보관리) -->
	<delete id="delete-borrow">
		delete from borrow where bor_no = #{pk}
	</delete>
</mapper>