<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newbooks">
        
	<!-- 신착도서 LIST  -->
  	<select id="selectAll" resultType="bookVO">
<!-- 	select * from book order by b_year desc, b_no  -->

	 <![CDATA[ select * from (select * from book order by b_year desc) where rownum <=12 ]]>
<!-- select * from (select * from book order by b_year desc) where rownum &lt;=12 -->
    	
    </select>  
  
</mapper>